<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="header"></div>
<style>
    table, th, td {
        text-align: center;
    }

    .mt10 {
        margin-top: 10px;
    }
</style>
<div class="container mt10">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Connected status</th>
            <th>Printer Serial connected</th>
            <th>Printing status</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        <tr data-th-each="printer : ${printers}">
            <td>
                <span data-th-text="${printer.name}"></span>
            </td>
            <td>
                <div class="mid-alignment">
                    <span th:classappend="${printer.connectedStatus} ? badge-success : badge-danger"
                          class="badge badge-pill">&nbsp;</span>
                </div>
            </td>
            <td>
                <div class="mid-alignment">
                    <p th:text="${printer.serialConnectionStatus}"></p>
                </div>
            </td>
            <td>
                <div th:switch="${printer.printingStatus}">
                    <span th:case="0"
                          class="badge-danger badge badge-pill center-pill status-ball">&nbsp;</span>
                    <span th:case="1"
                          class="badge-success badge badge-pill center-pill status-ball">&nbsp;</span>
                    <span th:case="2"
                          class="badge-warning badge badge-pill center-pill status-ball">&nbsp;</span>

                    <div class="mid-alignment">
                        <div class="nozzle-temp-span">
                            <span class="temp-menu" th:id="'actual_ntemp-' + ${printer.printerId}">?</span>
                            /
                            <span class="temp-menu" th:id="'target_ntemp-' + ${printer.printerId}">?</span>
                        </div>
                        <div class="bed-temp-span">
                            <span class="temp-menu" th:id="'actual_btemp-' + ${printer.printerId}">?</span>
                            /
                            <span class="temp-menu" th:id="'target_btemp-' + ${printer.printerId}">?</span>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a th:href="@{/printer/edit/{printerId}(printerId=${printer.printerId})}">
                    <img class="icon" th:src="@{/oct/oct/package/build/svg/pencil.svg}">
                </a>
            </td>
            <td>
                <a th:href="@{/printer/delete/{printerId}(printerId=${printer.printerId})}">
                    <img class="icon" th:src="@{/oct/oct/package/build/svg/trashcan.svg}">
                </a>
            </td>
            <td>
                <a target="_blank" th:href="@{http://{ip}(ip=${printer.ip})}">
                    <img class="icon" th:src="@{/oct/oct/package/build/svg/eye.svg}">
                </a>
            </td>
        </tr>
    </table>
</div>
<script>
    function updateTemperature() {
        var printerSpans = document.getElementsByClassName("temp-menu");

        for (var i = 0; i < printerSpans.length; i++) {
            var printerId = "";

            var idNumber = false;
            for (var j = 0; j < printerSpans[i].id.length; j++) {
                if (idNumber)
                    printerId += printerSpans[i].id.charAt(j);

                if (printerSpans[i].id.charAt(j) === '-')
                    idNumber = true;
            }

            setValues(printerId)
        }
    }

    function setValues(printerId) {
        $.getJSON("/printer/api/temperature/" + printerId, function (data) {
            $.each(data, function (key, val) {
                if (key === "bed") {
                    $("#actual_btemp-" + printerId).text(val.actual);
                    $("#target_btemp-" + printerId).text(val.target);
                } else if (key === "tool0") {
                    $("#actual_ntemp-" + printerId).text(val.actual);
                    $("#target_ntemp-" + printerId).text(val.target);
                }
            });
        });
    }

    setInterval(function () {
        updateTemperature();
    }, 3000)

</script>
<div th:insert="footer"></div>
</html>