<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="header"></div>
<style>
    table, th, td {
        text-align: center;
    }

    .mt10 {
        margin-top: 10px;
    }
</style>
<div class="container mt10">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Connected status</th>
            <th>Printer Serial connected</th>
            <th>Printing status</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        <tr data-th-each="printer : ${printers}">
            <td>
                <span data-th-text="${printer.name}"></span>
            </td>
            <td>
                <div class="mid-alignment">
                    <span th:id="'connection_status-' + ${printer.printerId}" th:classappend="${printer.connectedStatus} ? badge-success : badge-danger"
                          class="badge badge-pill connection_status">&nbsp;</span>
                </div>
            </td>
            <td>
                <div class="mid-alignment">
                    <p th:id="'serial_connection_status-' + ${printer.printerId}" th:text="${printer.serialConnectionStatus}" class="serial_connection_status"></p>
                </div>
            </td>
            <td>
                <div th:switch="${printer.printingStatus}">
                    <span th:id="'printing_status-' + ${printer.printerId}" th:case="0"
                          class="badge-danger badge badge-pill center-pill status-ball printing-status">&nbsp;</span>
                    <span th:id="'printing_status-' + ${printer.printerId}" th:case="1"
                          class="badge-success badge badge-pill center-pill status-ball printing-status">&nbsp;</span>
                    <span th:id="'printing_status-' + ${printer.printerId}" th:case="2"
                          class="badge-warning badge badge-pill center-pill status-ball printing-status">&nbsp;</span>

                    <div class="mid-alignment">
                        <div class="nozzle-temp-span">
                            <span class="temp-menu" th:id="'actual_ntemp-' + ${printer.printerId}" th:text="${printer.actualNozzleTemperature}"></span>
                            /
                            <span class="temp-menu" th:id="'target_ntemp-' + ${printer.printerId}" th:text="${printer.targetNozzleTemperature}">?</span>
                        </div>
                        <div class="bed-temp-span">
                            <span class="temp-menu" th:id="'actual_btemp-' + ${printer.printerId}" th:text="${printer.targetBedTemperature}">?</span>
                            /
                            <span class="temp-menu" th:id="'target_btemp-' + ${printer.printerId}" th:text="${printer.targetBedTemperature}">?</span>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a th:href="@{/printer/edit/{printerId}(printerId=${printer.printerId})}">
                    <img class="icon" th:src="@{/oct/oct/package/build/svg/pencil.svg}">
                </a>
            </td>
            <td>
                <a th:href="@{/printer/delete/{printerId}(printerId=${printer.printerId})}">
                    <img class="icon" th:src="@{/oct/oct/package/build/svg/trashcan.svg}">
                </a>
            </td>
            <td>
                <a target="_blank" th:href="@{http://{ip}(ip=${printer.ip})}">
                    <img class="icon" th:src="@{/oct/oct/package/build/svg/eye.svg}">
                </a>
            </td>
        </tr>
    </table>
</div>
<script>
    function updater(cssClass, callbackFunction) {
        var printerSpans = document.getElementsByClassName(cssClass);

        for (var i = 0; i < printerSpans.length; i++) {
            var printerId = "";

            var idNumber = false;
            for (var j = 0; j < printerSpans[i].id.length; j++) {
                if (idNumber)
                    printerId += printerSpans[i].id.charAt(j);

                if (printerSpans[i].id.charAt(j) === '-')
                    idNumber = true;
            }
            callbackFunction(printerId);
        }
    }

    function setConnectionStatus(printerId) {
        $.getJSON("/printer/api/connected_status/" + printerId, function (data) {
            $.each(data, function (key, val) {
                var element = document.getElementById("connection_status-" + printerId);
                removeBadgeClass(element);
                element.classList.add(val);
            });
        });
    }

    function setSerialConnectionStatus(printerId) {
        $.getJSON("/printer/api/serial_status/" + printerId, function (data) {
            $.each(data, function (key, val) {
                $("#serial_connection_status-" + printerId).text(val);
            });
        });
    }
    
    function setPrintingStatus(printerId) {
        $.getJSON("/printer/api/printing_status/" + printerId, function (data) {
            $.each(data, function (key, val) {
                var element = document.getElementById("printing_status-" + printerId);
                removeBadgeClass(element);
                element.classList.add(val);
            });
        });
    }

    function setTemperatureValues(printerId) {
        $.getJSON("/printer/api/temperature/" + printerId, function (data) {
            $.each(data, function (key, val) {
                if (key === "bed") {
                    $("#actual_btemp-" + printerId).text(val.actual);
                    $("#target_btemp-" + printerId).text(val.target);
                } else if (key === "tool0") {
                    $("#actual_ntemp-" + printerId).text(val.actual);
                    $("#target_ntemp-" + printerId).text(val.target);
                }
            });
        });
    }

    function removeBadgeClass(element) {
        element.classList.remove("badge-success");
        element.classList.remove("badge-danger");
        element.classList.remove("badge-warning");
    }

    setInterval(function () {
        updater("connection_status", setConnectionStatus);
        updater("serial_connection_status", setSerialConnectionStatus);
        updater("printing-status", setPrintingStatus);
        updater("temp-menu", setTemperatureValues);
    }, 5000)

</script>
<div th:insert="footer"></div>
</html>